# FastAPI Backend
fastapi
uvicorn[standard]

# Streamlit Frontend (for app.py)
streamlit

# Data & ML
pandas
openpyxl
numpy
scipy
scikit-learn

# PDF & File Handling
pdfplumber
python-dotenv
python-multipart
# Langchain & AI
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.51
langchain-openai
langchain-ollama==0.3.1
sentence-transformers
faiss-cpu

# Charting
matplotlib
